#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fff;
}

.bg-transparent {
    background-color: transparent;
}

.bg-gradient {
    background: linear-gradient(60deg,#17b9e6 0,#a117e6 100%) no-repeat scroll center center/cover;
}

.navbar .brand-logo {
    height: 1.5rem;
}
